
.cart-table{
    display: flex;
    justify-content: center;
    height:500px;
    overflow-y: scroll;
}


.tableContainer{
    margin-top: 10px;
}

.tableContainer table{
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
}


tr,th,td{
    border: 1px solid black;
    padding: 10px;
}

th,tr{
    width:100px;
}

.item-image{
    width:100px;
}

img{
    width:  100%;
}

.qty-input{
    text-align: center;
    width: 100px;
}

.qty-input input{
    width: 100%;
    padding: 2px;
    text-align: center;
    align-items: center;
}



.remove-all-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.empty-cart{
    width: 100%;
    text-align: center;
    align-items: center;
}
.empty-cart img{
    width: 500px;
    height: 500px;
}

.continue-shopping{
    text-align: center;
}